{%extends "base.html"%}

{%block content%}
<h1 class="mt-4">{%block title%}Backup: {{team}}{%endblock%}</h1>

<p>Modron is configured to backup messages every {{backup.frequency | humanize_td}} from the following channels</p>

<p>
  {%for c in backup.backup_channels%}
  <span class="badge badge-dark">{{c}}</span>
  {%endfor%}
</p>

<p>
  <b>Next Backup Time</b>: {{backup.until_next_backup | humanize_td}}
  {%if not backup.last_backup_successful%} <span class="badge badge-danger">Last Backup Failed!</span>{%endif%}<br/>
  {%if backup.gdrive_backup_folder%}
  <b>Total Uploaded</b>: {{backup.total_uploaded | humanize_size}}<br/>
  <b>Backup Folder</b>: <a href="{{backup.backup_url}}">Google Drive</a>
  {%endif%}
</p>
{%endblock%}