{%extends "base.html"%}

{%block content%}
<h1 class="mt-4">{%block title%}Welcome to Modron!{%endblock%}</h1>

<p>Welcome to the homepage of Modron! Modron assists playing D&amp;D on Slack
and can be found on <a href="https://github.com/WardLT/play-by-post-helper">GitHub</a>.</p>

<p>Modron has been awake for {{ awake_time }} on {{ hostname }} and
  is currently available for {{ config['clients'] | length }} different Slack workspaces:</p>

<ol>
 {%for name, client in config['clients'].items()%}
  <li><a href="https://{{client.team_info()['team']['domain']}}.slack.com/">{{config['team_config'].team_options[name].name}}</a></li>
 {%endfor%}
</ol>

{%endblock%}