{%extends "base.html"%}

{%block content%}
<h1 class="mt-4">{%block title%}Reminders: {{team}}{%endblock%}</h1>

<p>Modron is configured to write messages on <span class="badge badge-dark">{{reminder.reminder_channel}}</span>
  after play has stalled for {{reminder.allowed_stall_time | humanize_td}} after watching the following channels</p>

<p>
  {%for c in reminder.watch_channels%}
  <span class="badge badge-dark">{{c}}</span>
  {%endfor%}
</p>

<p>
  <b>Next Reminder Time</b>: {{reminder.time_until_reminder | humanize_td}}
  {%if reminder.is_expired%} ago <span class="badge badge-danger">Play has stalled!</span>{%endif%}<br/>
  <b>Last Active Channel</b>: {{reminder.active_channel}} (polled {{reminder.since_last_poll | humanize_td}} ago)<br/>
  <b>Last Activity</b>: {{reminder.stall_time | humanize_td}} ago<br/>
</p>
{%endblock%}